body {
	background-color: #FFF;	
}

p, h1{
	margin: 30px 50px 30px 0px;
	text-align: justify;
}

.container {
	border-radius: 15px;
	margin-top: 100px;
	background-color: #fff;
	border: 4px solid #F08080;
}

.img-responsive {
	margin: 50px 0px 50px 100px;
}

.nav {
	background-color: #66CDAA;
	border: 0px;
	padding: 0px 0px 0px 500px;
	font-size: 18px;
}

.nav-tabs li a {
	text-decoration: none;
	border-radius: 0px;
	color: #fff;
	padding: 20px;
}

.nav > li > a:focus, .nav > li > a:hover {
	background-color: #fff;
	color: #66CDAA;
	border-color: #fff;
}

.nav-tabs > li > a:hover {
	border-color: transparent;
}

.panel-footer {
	height: 40px;
  	width: 100%;
  	background-color: #4682B4;
  	margin-top:50px;
  	padding-top:10px;
  	padding-bottom:10px;
  	position: absolute;
  	bottom: 0px;
}

.text-muted {
	margin: 0px;
	text-align: center; 
	color: #FFF;
}